Frameworks/FiksuSDK.embeddedframework filter=lfs diff=lfs merge=lfs -text
Frameworks/HBHandlebars.framework filter=lfs diff=lfs merge=lfs -text
Frameworks/KIF filter=lfs diff=lfs merge=lfs -text
Frameworks/PebbleKit.framework filter=lfs diff=lfs merge=lfs -text
Frameworks/PebbleVendor.framework filter=lfs diff=lfs merge=lfs -text
Frameworks/Fabric filter=lfs diff=lfs merge=lfs -text
Frameworks/Facebook filter=lfs diff=lfs merge=lfs -text
.gif filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text lockable
*.zip filter=lfs diff=lfs merge=lfs -text
